:root.theme-dark {
    --bg-color: #000028;

    --bg-image: url("../images/cover-image-dark.png");

    --header-text-color: #000028;

    --subtitle-color: #ff0070;

    --text-color: #f1b2ce;

    --title-color: #db00ff;

    --accent-color: #ff0070;

    --button-color: #ff0070;

    --rec-display: block;

    --decor-color: #ff0070;
}
